@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

body {
    background-color: rgb(141, 141, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#106EBE, #0FFCBE);
    
}

.titulo {
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin: 50px 0;  
    color: #d8d8d8; 
}

div#main {
    border: 1px solid rgb(88, 88, 88);
    border-radius: 5px;
    width: 500px;
    box-shadow: 0 0 10px rgb(5, 5, 5);
    background: transparent;
}

div#relogio {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

div#relogio h1 {
    margin-top: 20px;    
}

div#relogio h2 {
    margin-bottom: 20px;
}
.horario {
    border: 1px solid #1186aa;
    border-radius: 5px;
    width: 100px;
    text-align: center;   
    background-color: #108dbe;
    color: #d8d8d8; 
}

.horario h1 {
    margin: 5px 0 0 0;
}

.horario h2 {
    margin: 0 0 5px 0;
    font-size: 15px;
    

}


