body {
    background-color: rgb(141, 141, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.titulo {
    width: 100%;
    text-align: center;
    font: bold;
    margin: 50px 0;
}

div#main {
    border: 1px solid rgb(18, 14, 235);
    border-radius: 5px;
    width: 500px;
    box-shadow: 0 0 10px rgb(5, 5, 5);
    background-color: rgb(87, 87, 87);   
}

div#relogio {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

div#relogio h1 {
    margin-top: 20px;
}

div#relogio h2 {
    margin-bottom: 20px;
}
.horario {
    border: 1px solid rgb(204, 43, 43);
    border-radius: 5px;
    width: 100px;
    text-align: center;   
    background-color: black;
    color: rgb(187, 187, 185); 
}

.horario h1 {
    margin: 5px 0 0 0;
}

.horario h2 {
    margin: 0 0 5px 0;
    font-size: 15px;
    

}


